DATABASE_URL="postgresql+psycopg2://scott:tiger@localhost:5432/mydatabase"
SECRET_KEY='DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE.'
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
