@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border scrollbar-thin scrollbar-track-gray-50 scrollbar-thumb-gray-200 scrollbar-track-rounded-lg scrollbar-thumb-rounded-lg hover:scrollbar-thumb-gray-300;
  }

  summary::-webkit-details-marker,
  summary::marker {
    content: "";
    display: none;
  }

  summary::after {
    content: "+";
  }

  details[open] {
    summary::after {
      content: "-";
    }
  }
}

@layer components {
  .details {
    @apply border border-x-0 border-gray-500 border-y-[0.5] flex flex-col gap-4;
  }
  .summary {
    @apply flex cursor-pointer items-center justify-between text-xl font-semibold;
  }
}
