@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border scrollbar-thin scrollbar-track-gray-50 scrollbar-thumb-gray-200 scrollbar-track-rounded-lg scrollbar-thumb-rounded-lg hover:scrollbar-thumb-gray-300;
  }

  summary::-webkit-details-marker,
  summary::marker {
    content: "";
    display: none;
  }

  summary::after {
    content: "+";
  }

  details[open] {
    summary::after {
      content: "-";
    }
  }
}

@layer components {
  .details {
    @apply flex flex-col gap-4 border border-x-0 border-gray-500 border-y-[0.5];
  }
  .summary {
    @apply flex cursor-pointer items-center justify-between text-xl font-semibold;
  }
  .small-tip {
    @apply text-sm font-light text-gray-400;
  }
  .small-tip__button {
    @apply capitalize font-medium text-base underline text-gray-500;
  }
  .input {
    @apply w-full rounded-lg border border-solid border-gray-200 bg-gray-100 px-6 py-4 text-gray-700 placeholder-gray-300 outline-none focus:border-gray-300;
  }
}
